<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>GreenPath</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='back/css/style_slide.css') }}">
  <script src="https://kit.fontawesome.com/823f594b7d.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<style>
  .najwa{
    z-index: 999;
  }
</style>
<body>
<!-- partial:index.partial.html -->
<audio id="greetingEmotions">
  <source src="../static/front/sound_effect/Greeting.mp3" type="audio/mpeg">
</audio>

<audio id="greetingWritingWizard">
  <source src="../static/front/sound_effect/Writing_wizard.mp3" type="audio/mpeg">
</audio>

<audio id="greetingStoryfy">
  <source src="../static/front/sound_effect/Well_done.mp3" type="audio/mpeg">
</audio>
<div id="nav-bar"class="najwa">
  <input id="nav-toggle" type="checkbox"/>
  <div id="nav-header"><a href="{{ url_for('index') }}" id="nav-title"><i class="fas fa-brain"></i>GreenPath</a>
    <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
    <hr/>
  </div>
  <div id="nav-content">
    <div class="nav-button"><i class="fas fa-chart-line"></i><a href="{{ url_for('back_index') }}"><span>Dashboard</span></a></div>
    <div class="nav-button"><i class="fas fa-user"></i><a href="{{ url_for('profile') }}"><span>Profile</span></a></div>    
    <div class="nav-button"><i class="fas fa-recycle"></i><a href="{{ url_for('recycle') }}"><span>Recycle</span></a></div>
     <div class="nav-button"><i class="fas fa-hammer"></i><a href="{{ url_for('craft') }}"><span>Craft</span></a></div>
     <div class="nav-button"><i class="fas fa-bread-slice"></i><a href="{{ url_for('foody') }}"><span>foody</span></a></div>

     
     <div class="nav-button"><i class="fas fa-hands-helping"></i><a href="{{ url_for('donation') }}"><span>donation</span></a></div>
    <hr/>
   
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar"></div>
      <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">GreenPath</a><span id="nav-footer-subtitle">User</span></div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">
      <Lorem>Welcome Dear User</Lorem>
    </div>
  </div>
</div>
<div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<!-- partial -->
  <script>
  function playGreeting(audioId) {
    var audio = document.getElementById(audioId);
    audio.play();
  }

  </script>
</body>
</html>

